/*GÉNÉRIQUE*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*BASE*/
body {
  background-color: #222222;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

/*ÉLÉMENTS*/

.hero h1 {
  color: #d300b7;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 110%;
  margin: 0;
}

.button {
  padding: 10px 30px;
  text-transform: uppercase;
  color: #d300b7;
  border: 4px solid #d300b7;
  border-radius: 56px;
  font:
    bold 1.125rem/110% "Raleway",
    sans-serif;
  font-optical-sizing: auto;
  text-decoration: none;
}

.button:hover {
  background-color: #d300b7;
  color: white;
}

/* SECTIONS*/

/*header*/

.header {
  background-color: #fff;
  padding: 23.5px 0;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
}

.menu a {
  color: black;
  text-decoration: none;
}

.menu a:hover {
  color: #d300b7;
}

.logo {
  font:
    900 1.75rem "Raleway",
    sans-serif;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/*hero*/

.hero {
  background: url(../images/hero.jpg) no-repeat;
  background-size: cover;
  min-height: 650px;
  padding: 111.5px 0;
}

.hero .wrapper {
  display: flex;
  justify-content: flex-end;

}

.boite .button {
  align-self: center ;
  margin-top: auto;
}

.boite {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  width: 550px;
  border-radius: 20px;
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 427px; 
}

.boite p {
  color: #fff;
  font:
    normal 1.5rem/160% "Roboto",
    sans-serif;
  font-optical-sizing: auto;
}

/* CIRCUITS*/
.circuits {
  padding: 100px 0;
}

.circuits h2 {
  color: white;
  font:
    bold 3rem "Raleway",
    sans-serif;
  font-optical-sizing: auto;
  text-transform: uppercase;
}

.circuits p {
  font:
    normal 1.5rem "Roboto",
    sans-serif;
  font-optical-sizing: auto;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card p {
  color: black;
  font:
    normal 1.125rem/160% "Roboto",
    sans-serif;
  text-align: center;
}

.card h3 {
  color: #d300b7;
  font:
    bold 2rem "Raleway",
    sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.card .button {
  align-self: center;
  margin-top: auto;
}

.triangle {
  position: absolute;
  top: -40px;
  right: -40px;

}


/*footer*/

.footer {
  background-color: #fff;
  padding: 50px 0;
}

.mediasociaux {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer span {
  background-color: #d300b7;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.footer a {
  text-decoration: none;
}

.footer span:hover{
  background-color: black;
}

.footer p {
  text-align: center;
}


/* MODALE*/ 

.paragraphe {
background-color: #fff;
width: 600px;
height: 400px;
display: flex;
justify-content: center;
}

.paragraphe p {
  align-self: center;
}



.modale{
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0; 
  z-index: 1000;

}